*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Opensans-Regular;
}
body{
    position: relative;

}
.mainclass{
  padding: 20px;
  text-align: center;
}
.mainclass #MenuItems img{
  max-width:100%;
    
}


.mainclass nav
{
    
    flex: 1;
    padding:1px;
}
.mainclass nav ul 
{
    display:flex;
   align-items: center;
    padding: 0;
    list-style-type: none;
  justify-content: center;
}

.mainclass nav ul li
{
    text-transform: uppercase;
   margin: 0 1rem;
   padding-right: 30px;
}
.mainclass nav ul li a
{
    text-decoration:none;
    font-size: 20px;
    font-family: sans-serif;
    color:#111;
    box-sizing:border-box; 
  
}

.mainclass nav ul li a:hover
{

    color: yellow;
}
.circle{
  width:8px;
  height:8px;
  border-radius: 50%;
  display: inline-block;
  animation: pulse 1.5s infinite;
  background-color: red;

}
@keyframes pulse{
  0%{
    transform: scale(0.9);
    box-shadow: 0 0 0 2px rgba(244, 0, 0, 0);
  }
  70%
  {
    transform: scale(1);
    box-shadow: 0 0 0 3px rgba(244, 0, 0, 0.2);
  }
  100%{
    transform: scale(0.9);
    box-shadow: 0 0 0 2px rgba(244, 0, 0, 0);
  }
}
#MenuItems .feed{
  color: yellow;
}


.bn1{
    width:100%;
     background-color:grey;
    

}
.bn{
  scroll-behavior: left;

  font-size: 50px;
  font-style:italic;
  font-weight: bold;
  color:black;
   
}

main.container{
    margin:0 auto;
    /*padding:16px;*/
    max-width: 100%;
    width: 1000px;

}
.container nav
{
    
    flex: 1;
    text-align: right;
    border-top:2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #940206;

    padding:3px;
}
.container nav ul 
{
    display:flex;
   align-items: center;
    padding: 0;
    list-style-type: none;
  justify-content: center;
}
.container nav a
{ 
    text-decoration: underline;
    font-size: 18px;
    color: white;
    border-right: 1px solid black;
    font-family: sans-serif;
      color:white;
     padding: 5px;
      
}

.container nav ul li a:hover
{
    color: aqua;
}
div.container{
  position: sticky;
  top: 0;
}


.sidehead{
    width: 70%;
     padding-left: 25px;
    padding-right: 25px;
}
#sidehead1{
    width: 100%;
    color: #606060;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}
.sidehead ul{
    padding-left:5%;
    padding-bottom:5%;

}
.sidehead ul li a{
    font-family: Opensans-Regular;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight:bold;
    text-decoration: none;
    vertical-align: baseline;
    color: black;

}

  .headlines{
   width: 100%; 
   text-align: left; 
   border-bottom:5px solid #aaaaaa; 
   line-height: 2%;
   margin: 20px 0 20px; 
   margin-right: 50px;


} 


.headlines span { 
    background:#fff; 
    padding:0 10px;
    text-transform: uppercase;
    font-family: Merriweather-Bold; 
    font-size: 35px;

}
.headlines p{
    box-sizing: border-box;
    border-bottom: 20px solid grey;
}

.row{
    display: flex;
}
.col{
    padding-bottom: 1rem;
    flex: 1;
    padding-right: 10px;
}
.col:not(:last-child){
    border-right: 2px;
}


h3{
    margin: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

img{
    max-width: 70%;
}
video{
    width:250px;
    height:250;
}
main p{
    line-height: 1rem;
    letter-spacing: 0.5px;
    font-family:Opensans-Regular;


}
.mainpara{
  font-family:sans-serif;
  text-align:justify;
  padding: 15px;
}

.shortnews #h31{
     padding-left: 25px;
    padding-right: 25px;
   color:white;
   margin-left:150px;
    padding: 1px;
    display: block;
     box-sizing: border-box;
    border:2px solid grey;
    width:100px;
    background-color: #a00606;
    color: white;
  }


}
.shortnews nav{
  
    border:5px;
    border-radius: 3px grey;

}
.main .shortnews nav ul li {
    list-style-type: none;
    padding-right: 3px;

}

.main .shortnews nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: black;
    display: block;
    width: 90%;
    max-width:500px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    border-top:1px solid grey;
   /*padding-right: 5px;*/
   font-family: OpenSans-Semibold
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;

}
.shortnews2{
    float:top;
   }

.main{
    
    display: flex;
    width:100%;

}
.Read{
    width:100%;
    
}
.Read #ig-1{
    float: right;
    margin: 30px,60px;
}
 #ig-1:hover{
    transform:scale(1.2);
}
#example span { 
    background:#fff; 
    padding:0 10px;
    text-transform: uppercase;
    font-family: Merriweather-Bold; 
    font-size: 20px;

}
.Read nav ul li{
    list-style-type: none;
}
.Read nav ul li a{
    padding: 2px;
}
#example{
   width: 100%; 
   text-align: left; 
   border-bottom:5px solid #aaaaaa; 
   line-height: 0.2em;
   margin: 20px 0 20px; 
   margin-right: 50px;
} 
footer{
    background-color: black;

}
footer .f1{
    padding-left: 18.7px;
    color: white;

}

footer .adv{
    background-color: grey;
    padding: 30px;
    text-align: center;
    color: white;

}
footer h3{
    color: white
}
footer ul li a{
    text-decoration-style: none;
    text-decoration: none;
    color: white;
   
}
.down p{
  text-align: center;
  color: white;

}
.down{

  text-align: center;
}
.down a .footimg{

  padding: 10px;

}
.f-col{
     padding: 5px;
     display: block;
    margin-right: auto;
    margin-left: auto;
}

footer .f-row{
    display: flex;

}
#btnScrollToTop{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width:50px;
  height: 50px;
  border-radius: 50%;
  border-color: black;
  background-color: red;
  color: white;
  cursor: pointer;
  outline: none;
}
#btnScrollToTop:active{
  background-color: aqua;
}
